@import "tailwindcss";

:root {
  --primary-background: #ffffff;
  --primary-text-color: #000000;
  --active-color: #3f51b5;
  --danger-color: #fb2c36;
  /* border */
  --primary-border-color: #757575;
}

[data-theme="dark"] {
  --primary-background: #000000;
  --primary-text-color: #ffffff;
  --active-text-color: #000000;

  /* border */
  --primary-border-color: #e0e0e0;
}

.loaderParent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000082;
  z-index: 100000;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #655acb;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
.loader {
  background: #655acb;
}